* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  max-width: 85%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.f-14px {
  font-size: 14px;
}

.f-12px {
  font-size: 12px;

}

.f-18px {
  font-size: 18px;

}